<div class="container">
	<footer class="row footer">
		<small>
	    	<a href="#">Rails Basic</a> by Imad Ibrahim
	  	</small>
	  	<nav class="navbar" role="navigation">
			<ul>
				<li><%= link_to "About",   about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			  	<li><a href="http://news.railstutorial.org/">News</a></li>
			</ul>
		</nav>
	</footer>
</div>