<div class="navbar-wrapper">
	<div class="container">
		<header class="navbar navbar-static-top navbar-inverse">				
			<nav class="container" role="navigation">
				
				<!-- Brand and toggle get grouped for better mobile display -->
			  	<div class="navbar-header">
			    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				    <%= link_to "sample app", "#", id: "logo", class:"navbar-brand" %>
				</div>


				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
				    <ul class="nav navbar-nav pull-right">
					    <li>
						    <%= link_to "Home", root_path,  class: "active" %>
				    	</li>
						<li>
							<%= link_to " Help", help_path %>
						</li>
						<li>
							<%= link_to " Sign in", "#" %>
						</li>
					</ul>		
				</div><!-- /.navbar-collapse -->
			</nav><!-- /.container -->
		</header>
	</div><!-- /.container-->
</div><!--/.navbar-wrapper-->